/* btn detail-revisor */

.btn-accept{
    display: inline-block;
    padding: 10px 15px;
    box-shadow: var(--shadow);
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    transition: 0.5s;
    position: relative;
    text-align: center;
    vertical-align: middle;
    border: none;
    background: transparent;
}

.btn-accept:hover{
    color: white;
    background: green !important;
}

.btn-reject{
    margin-right: 5px;
    display: inline-block;
    padding: 10px 15px;
    box-shadow: var(--shadow);
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    transition: 0.5s;
    position: relative;
    text-align: center;
    vertical-align: middle;
    border: none;
    background: transparent;
}
.btn-reject:hover{
    color: white;
    background: red !important;
}
